
<div class="container justify-content-center align-content-center">
      <div id={{carouselCard}} class="carousel slide" data-ride="carousel">
        <div class="carousel-inner align-content-around align-content-stretch">
            <div class="carousel-item active">
              <div class="container-fluid">
                  <div class="row justify-content-center align-content-center">
                      <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="assets/img/home-cards/img1.jpg" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>      
                      <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="assets/img/home-cards/img2.jpg" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                      <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="assets/img/home-cards/img3.jpg" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container-fluid">
                      <div class="row justify-content-center align-content-center">
                              <div class="card" style="width: 20rem;">
                                <img class="card-img-top" src="assets/img/home-cards/img4.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                              </div>      
                              <div class="card" style="width: 20rem;">
                                <img class="card-img-top" src="assets/img/home-cards/img5.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                              </div>
                              <div class="card" style="width: 20rem;">
                                <img class="card-img-top" src="assets/img/home-cards/img6.jpg" alt="Card image cap">
                                <div class="card-body">
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                              </div>
                      </div>
                   </div>
                 </div>
            </div>
        <a class="carousel-control-prev" href="#{{carouselCard}}" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#{{carouselCard}}" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</div>