#inner {
    position:absolute;
    left: 40%;
    top: 35%;
}

.vic-bg{
  background-color:#ff8300;
}
a{
  color: white
}
button{
  border-color: white;
}
li{
  border-color: white;
}
img{
  max‐width: 100%;
  height: auto;
}
