<div class="container-fluid vic-bg">
    <div class="row d-flex align-content-center justify-content-between">
      <div class="">
        <form class="form-inline"> 
          <div class="col">
            <input type="text" class="form-control" placeholder="Busqueda de propiedades">
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Last name">
          </div>
       </form>
      </div>
      <div>
      <app-save></app-save>
     </div>
    </div>
</div>